# travis-ci.org definition for oct2py build

# After changing this file, check it on:
#   http://lint.travis-ci.org/

# http://conda.pydata.org/docs/travis.html
language: python

env:
    - ENV="python=2.7 numpy=1.7.1 scipy=0.12"
    - ENV="python=3.5 numpy scipy"
    - ENV="python=3.6 numpy scipy"

before_install:
  - sudo apt-get update -qq;
  # download Scilab and add it to the path
  - if [[ $ENV == python=3.3* ]]; then
      wget http://www.scilab.org/download/5.4.1/scilab-5.4.1.bin.linux-x86_64.tar.gz  -O scilab.tar.gz;
      tar xfz scilab.tar.gz;
      export PATH="$PWD/scilab-5.4.1/bin:$PATH";
     else
      wget http://www.scilab.org/download/5.5.1/scilab-5.5.1.bin.linux-x86_64.tar.gz -O scilab.tar.gz;
      tar xfz scilab.tar.gz;
      export PATH="$PWD/scilab-5.5.1/bin:$PATH";
    fi
  - scilab -version; true
  # install conda environment
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes
  - conda update conda
  - conda info -a
  - travis_retry conda create -n test $ENV IPython nose pip
  - source activate test
  - travis_retry pip install coveralls

install:
  - export PYTHONWARNINGS=all
  - python setup.py install

script:
    # run coverage on py2.7, regular on others
  - if [[ $ENV == python=2.7* ]]; then
      conda install mock
      nosetests --exe -v --with-doctest --with-cov --cover-package scilab2py;
    else
      nosetests --exe -v scilab2py;
    fi

after_success:
    - coveralls
