include *.txt
include *.rst
include Makefile
recursive-include docs *.rst
recursive-include docs *.png
recursive-include docs *.py
recursive-include scilab2py *.sci
recursive-include example *.sci
recursive-include example *.py
recursive-include example *.ipynb
prune .git
prune docs/build
prune dist
prune build
